/* .header{
  height: 300px;
  background-color: #F0A11F;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  height: calc(100dvh - 100.2px);
}

.texto{
  width: 500px;
  text-align: center;
}

.texto p{
  color: white;
  font-size: 30px;
}

.links{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 240px;
}

.links div{
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.foto-com-carrinho {
  display: none;
}

.links div a{
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.links-mob{
  display: none;
}

.links div a:first-child{
  background-color: #25d366;
}

.links div a:nth-child(2){
  background-color: #0088cc;
}

@media screen and (max-width: 600px){

  .header{
    flex-direction: column;
    height: calc(100dvh - 85.2px);
    justify-content: initial;
  }

  .mobile-des{
    display: none !important;
  }

  .desktop{
    display: none;
  }

  .links{
    height: auto;
    width: 80%;
  }

  .links a{
    padding: 10px 0px 10px 0px !important;
  }

  .texto{
    margin-top: 70px;
    width: 80%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
  }

  .texto p:first-child{
    font-weight: 700;
  }

  .foto-com-carrinho{
    width: 100%;
    display: block;
    margin-top: 50px;
  }

  .foto-com-carrinho img{
    width: 100%;
  }

  .texto p{
    font-size: 20px;
  }

  .links-mob div a{
    padding: 10px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: #0088cc;
    font-weight: 500;
  }

  .links-mob div{
    display: flex;
    flex-direction: column;
  }

  .links-mob{
    width: 80%;
    display: block;
  }
} */


.container {
  /* Defina a imagem de fundo */
  background-image: url("../../../assets/img/SERGIPE OFERTAS.png");
  background-size: cover; /* A imagem cobre toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.titulo2 {
  width: 300px;
}

.overlay {
  text-align: center;
  color: #fff;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-bottom: 10px;
  text-shadow: -1px -1px 0 #ff9f11, 1px -1px 0 #ff9f11, -1px 1px 0 #ff9f11,
    1px 1px 0 #ff9f11;
}

h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-shadow: -1.5px -1.5px 0 #ff9f11, 1.5px -1.5px 0 #ff9f11,
    -1.5px 1.5px 0 #ff9f11, 1.5px 1.5px 0 #ff9f11;
  letter-spacing: 3px;
}

.cta-button {
  display: inline-block;
  background-color: #28a745;
  color: white;
  padding: 25px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cta-button:hover {
  background-color: #218838;
}

.description {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: -0.5px -0.5px 0 #ff9f11, 0.5px -0.5px 0 #ff9f11,
    -0.5px 0.5px 0 #ff9f11, 0.5px 0.5px 0 #ff9f11;
  letter-spacing: 2px;
}

.link {
  font-size: 1rem;
  color: #ffffff;
  text-shadow: -0.5px -0.5px 0 #ff9f11,
    0.5px -0.5px 0 #ff9f11,
    -0.5px 0.5px 0 #ff9f11,
    0.5px 0.5px 0 #ff9f11;
  letter-spacing: 2px;
}
