<section>
  <header>
    <div>
      <h1>Produtos Cadastrados</h1>
    </div>
    <input (click)="apagarVariosProdutos()" type="submit" value="Apagar">
  </header>

  <div class="separar">
    <p-table styleClass="table-custom" [value]="produtos" [(selection)]="selectedProducts" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Titulo</th>
          <th>Preço</th>
          <th>Loja</th>
          <th>Story</th>
          <th>
            <img src="../../../../assets/img/whatsapp.png" alt="whatsapp">
          </th>
          <th>
            <img src="../../../../assets/img/telegram.jpg" alt="telegram">
          </th>
          <th>Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td class="text-center">
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td>
            <a href="/painel/atualizar-produtos/{{item.id}}">
              {{item.titulo}}
            </a>
          </td>
          <td>{{item.preco}}</td>
          <td>
            <span *ngIf="item.loja != null">
              {{item.loja.nome_loja}}
            </span>
          </td>
          <td>
            <i (click)="gerarStory(item.preco, item.titulo, item.imagemSocial, item.freteVariacoes, item.cupom, item.link)"
              class="story pi pi-image"></i>
          </td>
          <td class="text-center">
            <i class="cursor-pointer pi pi-copy" (click)="copiarParaAreaTransferencia(item, 1)"></i>
          </td>
          <td class="text-center">
            <!-- <i class="cursor-pointer pi pi-copy" (click)="copiarParaAreaTransferencia(item,2)"></i> -->
            <i class="cursor-pointer pi pi-copy" (click)="showDialog(item)"></i>
          </td>
          <td class="text-center">
            <app-menuOpcoes [product]="item" [menuOpen]="openMenuId === item.id"
            (toggleMenu)="toggleMenu(item.id)"></app-menuOpcoes>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="paginacao">
    <p-paginator [first]="0" [rows]="1" [totalRecords]="totalPage" (onPageChange)="changePage($event)"
      [showCurrentPageReport]="true" currentPageReportTemplate="{first} de {totalRecords}" [showPageLinks]="false"
      [showFirstLastIcon]="false"></p-paginator>

  </div>
</section>

<p-toast></p-toast>


@if (produto !== undefined){
  <p-dialog header="Confirmar Informações" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <p-card header="{{ produto.titulo! }}" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
      <img alt="Card" [src]="this.imagemService.getImagemUrl(produto.imagemSocial!, 'produtos-real')" />
    </ng-template>
    <p [innerHTML]="estruturaCompartilhamento | formatTex"></p>
  </p-card>
  <div class="flex justify-content-center justify-content-around mt-3">
    <p-button class="bg-primary" label="WhatsApp" (onClick)="copiarParaAreaTransferencia(produto, 1)" />
    <p-button label="Telegram"
      (onClick)="enviarTelegram(estruturaCompartilhamento, produto.imagemSocial!)" />
    </div>
  </p-dialog>
}