<div class="menu-icon" (click)="ativarMenu()">&#9776;</div>
<div class="menu-lateral" [class.open]="menuAtivado">
  <ul class="opcoes">
    <li><a routerLink="/painel/listar-produtos">Listar Produtos</a></li>
    <li><a routerLink="/painel/cadastrar-produtos">Cadastrar Produto</a></li>
    <li><a routerLink="/painel/cadastrar-categoria">Cadastrar Categoria</a></li>
    <li><a routerLink="/painel/cadastrar-loja">Cadastrar Lojas</a></li>
    <li><a routerLink="/painel/report">Reports</a></li>
    <li><a routerLink="/painel/links-banners">Links e Banners</a></li>
    <li><a routerLink="/painel/cadastrar-posts">Blog</a></li>
    <li><a routerLink="/painel/configuracoes">Configurações</a></li>
  </ul>
</div>
<div *ngIf="menuAtivado" class="menu-lateral-mobile" [class.open]="menuAtivado">
  <ul class="opcoes">
    <li><a routerLink="/painel/listar-produtos">Listar Produtos</a></li>
    <li><a routerLink="/painel/cadastrar-produtos">Cadastrar Produto</a></li>
    <li><a routerLink="/painel/cadastrar-categoria">Cadastrar Categoria</a></li>
    <li><a routerLink="/painel/cadastrar-loja">Cadastrar Lojas</a></li>
    <li><a routerLink="/painel/report">Reports</a></li>
    <li><a routerLink="/painel/links-banners">Links e Banners</a></li>
    <li><a routerLink="/painel/cadastrar-posts">Blog</a></li>
    <li><a routerLink="/painel/configuracoes">Configurações</a></li>
  </ul>
</div>
<i *ngIf="menuAtivado" (click)="ativarMenu()" class="pi pi-times"></i>
