<!-- Seu componente template -->
<div class="horizontal-list-container">
  <div class="btn">
    <button class="scroll-button" (click)="scrollLeft()">&lt;</button>
  </div>
  <div class="container" #caixa>
    <div class="item" *ngFor="let item of produtos">
      <a href="/oferta/{{ item.id }}">
        <div class="card">
          <div class="img">
            <img [src]="apiUrl+'/produto/download/'+item.imagem" alt="{{ item.titulo }}">
          </div>

          <div class="info">
            <p class="nome-produto">{{ item.titulo }}</p>
            <p>{{ item.freteVariacoes }}</p>
            <p>{{ item.preco }}</p>
          </div>
        </div>
      </a>
      <!-- Substitua 'nome' pelo nome do campo que você deseja exibir -->
    </div>
  </div>
  <div class="btn">
    <button class="scroll-button" (click)="scrollRight()">&gt;</button>
  </div>
</div>
