<div class="container">
  <div class="overlay">
    <div class="logo">
      <img src="../../../assets/img/logo_transparente_OMC-removebg-preview.png" alt="Logo Sergipe Ofertas">
      <h1>OFERTAS MAIS CUPONS</h1>
    </div>
    <div class="titulo2">
      <h2>RECEBA PROMOÇÕES NO SEU WHATSAPP</h2>
    </div>
    <!-- <a *ngIf="links != undefined" [href]="links.links.whatsapp" class="cta-button">QUERO RECEBER</a> -->
    <a href="https://chat.whatsapp.com/I7jsoI2qhdyAZaZe0RR7L3" class="cta-button">QUERO RECEBER</a>
    <p class="description">
      Ao participar dos nossos Grupos você receberá ofertas, cupons e descontos das Grandes Lojas com Exclusividade!
    </p>
    <p class="link">www.ofertasmaiscupons.com.br</p>
  </div>
</div>
