<section>
  <div class="card-login">
    <header>
      <h1>Login</h1>
    </header>

    <form [formGroup]="userForm" (ngSubmit)="login()">
      <div class="inputs">
        <div class="email">
          <label for="email">E-mail</label>
          <input formControlName="email" type="email">
        </div>
        <div class="senha">
          <label for="senha">Senha</label>
          <input type="password" formControlName="senha">
        </div>
        <div class="senha-errada" *ngIf="senhaErrada">
          <p>Usuario ou senha Incorreto</p>
        </div>
        <div class="btn">
          <input type="submit" value="Entrar">
        </div>
      </div>
    </form>
  </div>
</section>
