:host ::ng-deep {
  .car-lojas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .lojas-cadastradas {
    width: 500px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: auto;
  }

  h2{
    color: white;
  }

  .lojas-cadastradas div {
    display: flex;
    justify-content: center;
  }

  .cadastrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: #163a4d;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .botao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botao input {
    border-radius: 5px;
    border: none;
    width: 100px;
    background-color: blue;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .opcoes a:first-child {
    background-color: #183b59;
    padding: 8px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  form{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form label:first-child{
    margin-bottom: 10px;
  }

  form input{
    width: 100%;
    height: 40px;
    background-color: #184c78;
    border-color: #225a76;
    color: white;
  }

  label {
    color: white;
  }

  img {
    width: 70px;
    height: 60px;
    border-radius: 50%;
  }

  .opcoes{
    display: flex;
    justify-content: space-around;
  }

  .opcoes i:first-child{
    color: red;
  }

  .opcoes i{
    cursor: pointer;
  }

  .p-datatable {
    height: 600px;
  }

  .p-datatable-wrapper{
    height: 74%;
  }

  .p-datatable-header{
    color: white;
    border-top: none;
    background-color: #102d3d;
    border-radius: 20px 20px 0 0;
  }

  .p-paginator{
    background-color:#163a4d;
    border: none;
  }

  .p-paginator-next{
    color: white;
  }

  .p-paginator-prev{
    color: white;
  }

  .p-paginator-current{
    color: white;
  }

  .p-datatable .p-datatable-thead > tr > th{
    background-color: #163a4d;
    color: white;
  }

  .p-datatable .p-datatable-tbody > tr > td{
    background-color: #163a4d;
    color: white;
    border: 1px solid #464646;
    border-width: 0 0 1px 0;
  }
}
