/* You can add global styles to this file, and also import other style files */
/* @import '~font-awesome/css/font-awesome.min.css'; */

@import "primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";


@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

body{
  padding: 0;
  margin: 0;
  height: 0;
  background-color: rgb(238, 238, 238);
}

.cor-sergipe{
  background-color: #f0a11f;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem */
}

/* Estilo do "trilho" da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #1c475e; /* Cor de fundo do trilho */
}

/* Estilo do "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #b3b3b3; /* Cor do polegar */
  border-radius: 6px; /* Borda arredondada do polegar */
}

/* Estilo do "canto" da barra de rolagem */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Cor de fundo do canto */
}

/* Estilo quando o conteúdo está rolando */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do polegar quando hover */
}

/* Estilo quando a barra de rolagem está ativa (ex. arrastando) */
::-webkit-scrollbar-thumb:active {
  background-color: #777; /* Cor do polegar quando ativo */
}

a{
  /* font-size: 14px; */
  text-transform: uppercase;
}

p{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  /* font-size: 20px; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
